.container {
  align-items: center;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding: 17px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.logoMobile, .logo {
  cursor: pointer;
}

.logo {
  display: none;
}

.menu {
  display: none;
}

.rightOptions {
  align-items: center;
  display: flex;
}

.rightOptions > button {
  margin-right: 1.5rem;
}

@media (min-width: 769px) {
  .container {
    padding: 2.3rem;
  }

  .logoMobile {
    display: none;
  }

  .logo {
    display: inline-block;
  }
}

@media (min-width: 1025px) {
  .menuIcon {
    display: none;
  }

  .menu {
    display: flex;
  }

  .menu > a {
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin: 0 1.5rem;
  }

  .menu > a:hover {
    color: var(--secondary);
    transition: 0.2s linear;
  }
}

@media (min-width: 1201px) {
  .container {
    padding: 1.5rem 7rem;
  }
}
