/*
	MEDIA QUERIES
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
/*@media (max-width: 1600px)/*
	/**********************
		INDEX
    **********************/
    	
@media (max-width: 1400px)
	/**********************
		INDEX
    **********************/

    		
@media (max-width: 1297px)
	/**********************
		INDEX
    **********************/

	
	/**********************
        MODALES
    **********************/	
				

// Large devices (desktops, 62em and up)
@media (max-width: 991px)
	/**********************
       INDEX
    **********************/

	
	/**********************
        ERROR 404
    **********************/


// Medium devices (tablets, 48em and up)
@media (max-width: 769px)
	/**********************
        LOGIN
    **********************/			
	body
		font-size 14px
		
	/**********************
    	HEADER
    **********************/
		
	
	/**********************
        INDEX
    **********************/


@media (max-width: 630px)
	/**********************
    	INDEX
    **********************/			
	body
		font-size 14px

							
	/**********************
        FOOTER
    **********************/											   	


// Small devices (landscape phones, 415px and up)
@media (max-width: 415px)
	body
		font-size 11px	
				
	/**********************
        INDEX
    **********************/