/*

	Proyecto: PortFolio2015 (Version 2016) 2da version

	Maquetado por: @01Comandos

	Fecha: 16/08/2016;

-------------------------------------------------------------------------
-------------------------------------------------------------------------*/

/*
	IMPORTACIONES
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
@import 'nib'
@import 'style-icon.styl'


@font-face 
    font-family 'Cabin-Regular'
    src url('../fonts/Cabin-Regular.ttf')
    
@font-face 
    font-family 'Cabin-Medium'
    src url('../fonts/Cabin-Medium.ttf')
    
@font-face 
    font-family 'Cabin-SemiBold'
    src url('../fonts/Cabin-SemiBold.ttf')
    
@font-face 
    font-family 'Rancho-Regular'
    src url('../fonts/Rancho-Regular.ttf')
    
@font-face 
    font-family 'Rancho-Regular'
    src url('../fonts/Rancho-Regular.ttf')
    
@font-face 
    font-family 'Abel-Regular'
    src url('../fonts/Abel-Regular.ttf')

/*
	VARIABLES
-------------------------------------------------------------------------*/
gris-A = #eff4f7
negro-texto = #4d4d4d

azul-titulo = #003772
azul-1 = #536dfe
azul-2 = #3fa9f5

naranja = #fc6d26
amarillo = #ffda44

fucsia = #ff545c


/*
	MIXINS
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
flex-center()
	display flex
	flex-wrap wrap
	justify-content center
	
flex-around()
	display flex
	flex-wrap wrap
	justify-content space-around
	
flex-between()
	display flex
	flex-wrap wrap
	justify-content space-between
	
flex-flexStart()
	display flex
	flex-wrap wrap
	justify-content flex-start

degradado()
  background linear-gradient(90deg, rgba(148, 50, 107, 1) 0%, rgba(78, 115, 174, 1) 100%)
    

/*
    HEADER
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
body
	font-size 16px
	background white


					

/*
    SOBRE MI
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/					

				

/*
    PORTFOLIO
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/					

				
@import 'media-queries.styl'
		