@font-face {
    font-family: 'iconitos';
    src:    url('../fonts/iconitos.eot?3r5klw');
    src:    url('../fonts/iconitos.eot?3r5klw#iefix') format('embedded-opentype'),
        url('../fonts/iconitos.ttf?3r5klw') format('truetype'),
        url('../fonts/iconitos.woff?3r5klw') format('woff'),
        url('../fonts/iconitos.svg?3r5klw#iconitos') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconitos' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cv-iconos_behance:before {
    content: "\e900";
}
.icon-cv-iconos_circle:before {
    content: "\e901";
}
.icon-cv-iconos_corona:before {
    content: "\e902";
}
.icon-cv-iconos_css3:before {
    content: "\e903";
}
.icon-cv-iconos_github:before {
    content: "\e904";
}
.icon-cv-iconos_gitlab .path1:before {
    content: "\e905";
    color: rgb(252, 109, 38);
}
.icon-cv-iconos_gitlab .path2:before {
    content: "\e906";
    margin-left: -1em;
    color: rgb(226, 67, 41);
}
.icon-cv-iconos_gitlab .path3:before {
    content: "\e907";
    margin-left: -1em;
    color: rgb(252, 109, 38);
}
.icon-cv-iconos_gitlab .path4:before {
    content: "\e908";
    margin-left: -1em;
    color: rgb(252, 163, 38);
}
.icon-cv-iconos_gitlab .path5:before {
    content: "\e909";
    margin-left: -1em;
    color: rgb(226, 67, 41);
}
.icon-cv-iconos_gitlab .path6:before {
    content: "\e90a";
    margin-left: -1em;
    color: rgb(252, 109, 38);
}
.icon-cv-iconos_gitlab .path7:before {
    content: "\e90b";
    margin-left: -1em;
    color: rgb(252, 163, 38);
}
.icon-cv-iconos_gitlab .path8:before {
    content: "\e90c";
    margin-left: -1em;
    color: rgb(226, 67, 41);
}
.icon-cv-iconos_google:before {
    content: "\e90d";
}
.icon-cv-iconos_html5:before {
    content: "\e90e";
}
.icon-cv-iconos_illustrator:before {
    content: "\e90f";
}
.icon-cv-iconos_javascript:before {
    content: "\e910";
}
.icon-cv-iconos_linkedin:before {
    content: "\e911";
}
.icon-cv-iconos_photoshop:before {
    content: "\e912";
}
.icon-cv-iconos_twitter:before {
    content: "\e913";
}
.icon-cv-iconos_website:before {
    content: "\e914";
}

