.light .title {
  color: #091d33;
}

.container {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: white;
  position: relative;
}

.title {
  text-align: center;
  color: #1d262c;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 0.13px;
  margin-top: 0;
}

.titleSmall {
  font-weight: normal;
  font-size: 18px;
}

.imagesContainer {
  display: flex;
  margin: 0 16px;
  justify-content: space-evenly;
  gap: 60px;
  flex-wrap: wrap;
}

.image {
  width: 100px;
  height: 100%;
  object-fit: contain;
}

.backgroundContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.backgroundTop {
  background-image: url('/images/background-top.svg');
  height: 74px;
  width: 100%;
  position: absolute;
  top: -24px;
  left: 0;
}

.backgroundBottom {
  background-image: url('/images/background-bottom.svg');
  height: 74px;
  width: 100%;
  position: absolute;
  bottom: -24px;
  left: 0;
}

@media (min-width: 769px) {
  .imagesContainer {
    margin: 0 100px;
  }
}
