.itemsContainer {
  margin-top: 60px;
}

.title {
  color: white;
  font-size: 38px;
  font-weight: 600;
  line-height: 1.58;
  letter-spacing: 0.16px;
  margin: 0;
  padding-left: var(--padding-mobile);
}

.title > span {
  color: var(--secondary);
}

.itemButton {
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  padding-top: 40px;
  padding-bottom: 20px;
}

.itemButtonIcon {
  width: 35px;
  height: 21px;
}

.openArrow {
  color: var(--secondary);
}

.closeArrow {
  color: white;
}

.itemTitle {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.09px;
  color: var(--gray-11);
  text-decoration: underline;
  text-align: left;
}

.bicolorTitle {
  color: white;
}

.bicolorTitle > span {
  color: var(--secondary);
  text-decoration: underline;
}

.description {
  font-size: 16px;
  line-height: 2;
  font-weight: 300;
  color: var(--gray-1);
  background-color: var(--gray-10);
  padding-top: 17px;
  padding-bottom: 35px;
  padding-left: calc(44px + var(--padding-mobile));
}

.bgPrimary {
  background-color: var(--primary);
}

.bgGray {
  background-color: var(--gray-10);
}

.checkIcon {
  width: 25px;
  height: 25px;
  color: var(--secondary);
}

.itemList {
  display: flex;
  margin-top: 26px;
}

.checkIconContainer {
  width: 25px;
  height: 25px;
  margin-right: 12px;
  margin-top: 8px;
}

.itemMobileFigure {
  width: 100%;
  overflow: hidden;
  background-color: var(--primary);
  margin-top: 40px;
}

.itemDesktopFigure {
  display: none;
}

.itemPicture {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (min-width: 769px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "title image"
      "items image";
    column-gap: 20px;
    position: relative;
  }

  .title {
    grid-area: title;
    padding-left: var(--padding-tablet);
  }

  .itemsContainer {
    margin-top: 20px;
    grid-area: items;
    padding-left: var(--padding-tablet);
  }

  .itemMobileFigure {
    display: none;
  }

  .itemDesktopFigure {
    display: block;
    grid-area: image;
    overflow: hidden;
    height: 450px;
    padding-right: var(--padding-tablet);
    position: sticky;
    top: 8rem;
  }

  .description {
    padding-left: calc(44px + var(--padding-tablet));
  }
}

@media (min-width: 1025px) {
  .container {
    column-gap: 2rem;
  }

  .itemDesktopFigure {
    width: 550px;
    justify-self: end;
    height: auto;
  }
}

@media (min-width: 1201px) {
  .itemDesktopFigure {
    padding-right: var(--padding-large);
  }

  .itemsContainer,
  .title {
    padding-left: var(--padding-large);
  }

  .description {
    padding-left: calc(44px + var(--padding-large));
  }
}

@media (min-width: 1501px) {
  .container {
    padding-left: var(--padding-extralarge);
    padding-right: var(--padding-extralarge);
  }

  .itemDesktopFigure {
    padding-right: 0;
  }

  .itemsContainer,
  .title {
    padding-left: 0;
  }
}