.title {
  color: white;
  font-size: 38px;
  font-weight: 600;
  line-height: 1.58;
  letter-spacing: 0.16px;
  margin: 0;
}

.title > span {
  color: var(--secondary);
}

.itemButton {
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
}

.itemButtonIcon {
  width: 35px;
  height: 21px;
}

.openArrow {
  color: var(--secondary);
}

.closeArrow {
  color: white;
}

.itemTitle {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.09px;
  color: white;
}

.itemTitle > span {
  color: var(--secondary);
}

.description {
  font-size: 16px;
  line-height: 2.19;
  color: var(--gray-1);
  background-color: var(--gray-10);
}

.bgPrimary {
  background-color: var(--primary);
}

.bgGray {
  background-color: var(--gray-10);
}
