.light.container {
  background: white;
}

.light .title {
  color: #091d33;
}

.light .title > span {
  color: #12d67d;
}

/* .light .itemButton { */
/* background: #edf1fc; */
/* } */

.light .itemTitle,
.light .bicolorTitle,
.light .bicolorTitle > span {
  color: #1d262c;
}

.light .openArrow,
.light .closeArrow {
  color: black;
}

.light .description {
  background: #edf1fc;
  font-weight: normal;
  color: #1d262c;
}

.light .itemList {
  color: #1d262c;
  font-weight: normal;
}

.light .checkIcon {
  color: #1d262c;
}

.light .itemMobileFigure {
  background: #edf1fc;
  padding-top: 40px;
}

.container {
  padding-top: 70px;
  padding-bottom: 70px;
}

.itemsContainer {
  margin-top: 60px;
}

.title {
  max-width: 524px;
  color: white;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.58;
  letter-spacing: 0.16px;
  margin: 0;
  padding-left: var(--padding-mobile);
}

.title > span {
  color: var(--secondary);
}

.itemButton {
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  padding-top: 40px;
  padding-bottom: 20px;
  background: inherit;
  border-radius: 5px 5px 0 0;
}

.itemButtonIcon {
  width: 35px;
  height: 21px;
}

.openArrow {
  color: var(--secondary);
}

.closeArrow {
  color: white;
}

.itemTitle {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.09px;
  color: var(--gray-11);
  text-decoration: underline;
  text-align: left;
}

.bicolorTitle {
  color: white;
}

.bicolorTitle > span {
  color: var(--secondary);
  text-decoration: underline;
}

.description {
  font-size: 16px;
  line-height: 2.19;
  font-weight: 300;
  color: var(--gray-1);
  background-color: var(--gray-10);
  padding-top: 17px;
  padding-bottom: 35px;
  padding-left: calc(44px + var(--padding-mobile));
  border-radius: 0 0 5px 5px;
}

.bgGray {
  background-color: var(--gray-10);
}
.light .bgGray {
  background: #edf1fc;
}

.checkIcon {
  width: 25px;
  height: 25px;
  color: var(--secondary);
}

.itemList {
  display: flex;
  margin-top: 26px;
}

.checkIconContainer {
  width: 25px;
  height: 25px;
  margin-right: 12px;
  margin-top: 3px;
}

.itemMobileFigure {
  width: 100%;
  overflow: hidden;
  background-color: inherit;
  padding-top: 40px;
}

.itemDesktopFigure {
  display: none;
}

.itemPicture {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top right;
  border-radius: 22px;
}

@media (min-width: 769px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'title image'
      'items image';
    column-gap: 20px;
    position: relative;
  }

  .title {
    grid-area: title;
    padding-left: var(--padding-tablet);
    max-width: 524px;
  }

  .itemsContainer {
    margin-top: 20px;
    grid-area: items;
    padding-left: var(--padding-tablet);
  }

  .itemMobileFigure {
    display: none;
  }

  .itemDesktopFigure {
    display: block;
    grid-area: image;
    overflow: hidden;
    height: 450px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 8rem;
  }

  .paddingRightFigure {
    padding-right: var(--padding-tablet);
  }

  .description {
    padding-left: calc(44px + var(--padding-tablet));
  }
}

@media (min-width: 1025px) {
  .container {
    column-gap: 2rem;
  }

  .itemDesktopFigure {
    width: 550px;
    justify-self: end;
    height: auto;
    align-self: baseline;
  }
}

@media (min-width: 1201px) {
  .paddingRightFigure {
    padding-right: var(--padding-large);
  }

  .itemsContainer,
  .title {
    padding-left: var(--padding-large);
  }

  .description {
    padding-left: calc(44px + var(--padding-large));
  }
}

@media (min-width: 1501px) {
  .container {
    padding-left: var(--padding-extralarge);
    padding-right: var(--padding-extralarge);
  }

  .paddingRightFigure {
    padding-right: 0;
  }

  .itemsContainer,
  .title {
    padding-left: 0;
  }
}
