.icon {
  height: 22px;
  width: 22px;
  margin-right: 20px;
}

.secondary {
  filter: invert(75%) sepia(25%) saturate(2078%) hue-rotate(358deg)
    brightness(100%) contrast(104%);
}

.white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(69deg) brightness(106%)
    contrast(102%);
}

.gray {
  filter: invert(87%) sepia(25%) saturate(8%) hue-rotate(351deg) brightness(90%) contrast(88%);
}
