.container {
  background-color: white;
  padding: 4rem var(--padding-mobile) 6rem var(--padding-mobile);
}

.title {
  color: var(--black-2);
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.15px;
  margin: 0 0 1.1rem 0;
}

.description {
  color: var(--black-3);
  font-size: 16px;
  line-height: 2.06;
}

.divider {
  border-top: 1px solid var(--gray-3);
}

.iconMobile {
  cursor: pointer;
  height: 30px;
}

.iconDesktop {
  display: none;
}

.message {
  margin: 3.5rem 0;
}

.goBack {
  display: flex;
  align-items: center;
}

.goBackText {
  color: var(--black-2);
  cursor: pointer;
  border-bottom: 1px solid var(--tertiary);
  font-size: 18px;
  margin-right: 1rem;
  padding-bottom: 1rem;
}

.form,
.basicInfo,
.messageContainer,
.optionsContainer {
  display: flex;
  flex-direction: column;
}

.form sup {
  color: var(--secondary);
}

.form label {
  color: var(--black-2);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.39px;
  margin-bottom: 1rem;
}

.form input,
.form textarea,
.form select {
  border-radius: 4px;
  border: solid 1px #dbe0e9;
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  color: var(--black-2);
  margin-bottom: 3.8rem;
  padding: 1.2rem;
  font-family: Poppins;
}

.form select {
  padding: 1.2rem 3.5em 1.2rem 1.2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

.form textarea {
  height: 410px;
  line-height: 1.88;
}

.form input:focus-visible,
.form textarea:focus-visible,
.form select:focus-visible {
  outline: none;
}

/* If input is empty */
.form input:placeholder-shown {
  background-color: var(--gray-4);
}

.form input::placeholder,
.form textarea::placeholder {
  color: var(--gray-6);
  font-family: Poppins;
  font-weight: 300;
}

.basicInfo {
  margin-top: 4rem;
}

.send {
  align-self: center;
  background-color: var(--tertiary);
  margin-top: 2rem;
  max-width: 350px;
  width: 100%;
}

@media (min-width: 769px) {
  .container {
    padding: 4rem var(--padding-tablet) 6rem var(--padding-tablet);
  }
}

@media (min-width: 1025px) {
  .optionsContainer {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .iconMobile {
    display: none;
  }

  .iconDesktop {
    display: inline-block;
    height: 43px;
    width: 43px;
  }

  .goBackText {
    margin-left: 1rem;
    padding-bottom: 0.35rem;
  }

  .send {
    margin-top: 0;
  }
}

@media (min-width: 1201px) {
  .container {
    padding: 4rem var(--padding-desktop) 6rem var(--padding-desktop);
  }
}
