.container {
  box-sizing: border-box;
  color: white;
  padding: 5rem 0 0 0;
  overflow: hidden;
}

.description {
  color: var(--gray-1);
  font-size: 16px;
  line-height: 1.88;
}

.horizontalLine {
  border-bottom: 1px solid var(--gray-3);
  opacity: 0.21;
  margin: 3rem -1rem 5rem -1rem;
}

.knowMore {
  align-items: center;
  display: flex;
  padding: 1rem 0 4rem 0;
}

.knowMore > span {
  margin-right: 1.5rem;
}

.logo {
  cursor: pointer;
  margin-bottom: 2rem;
}

@media (min-width: 679px) {
  .container {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }

  .container > div {
    max-width: 50%;
  }

  .description {
    margin: 0;
  }
}

@media (min-width: 1025px) {
  .container > div {
    max-width: 70%;
  }
}
