/*
	MEDIA QUERIES
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
/*@media (max-width: 1600px)/*
	/**********************
		INDEX
    **********************/
    	
@media (max-width: 1400px)
	/**********************
		INDEX
    **********************/

    		
@media (max-width: 1297px)
	/**********************
		INDEX
    **********************/
		

	
	/**********************
        MODALES
    **********************/
    	
@media (max-width: 1136px)
	/**********************
		INDEX
    **********************/
	.aboutHome
		.text
			width 55%
		figure
			width 40%
				

// Large devices (desktops, 62em and up)
@media (max-width: 991px)
	/**********************
       INDEX
    **********************/
	.grid 
		width 90%
		
	.aboutHome
		height 540px
		.text
			h2
				font-size 2em
				
	.mainContain
		ul.project
			li
				width 50%
				
				&:nth-child(3)
					order 4
				
				&:nth-child(4)
					width 100%
					order 3
					
				&:nth-child(6)
					display none
					
				&:nth-child(8)
					order 5
					
				&:nth-child(5)
					order 6
					
				&:nth-child(7)
					order 7

	
	/**********************
        ERROR 404
    **********************/


// Medium devices (tablets, 48em and up)
@media (max-width: 769px)
	/**********************
        LOGIN
    **********************/			
	body
		font-size 14px
	
	.header
		&-diagonal
			.wrapper
				.back-contact
					background: url(../img/bibliotecaTablet.png) no-repeat center bottom
					background-attachment fixed
					background-size cover
					
	.aboutHome
		.text
			padding-top 7em
					
	
		
	/**********************
    	HEADER
    **********************/
		
	
	/**********************
        ABOUT ME
    **********************/
	.gridAbout
		width 90%


@media (max-width: 630px)
	/**********************
    	INDEX
    **********************/			
	body
		font-size 14px
		
	.aboutHome
		height initial
		flex-center()
		figure
			order 1
			width 280px
		
		.text 
			order 2
			width 100%
			padding-top 0
			margin -8em auto 6em auto
			width 80%
			text-align center
			h2
				&:nth-child(2)
					display none
					
	.mainContain
		ul.stack
			center-win()
			li
				width 70px
				
		&.stackContain
			padding 3em 0 0 0

							
	/**********************
        CONTACT
    **********************/
	.messageInit
		form
			width 80%
			
	/**********************
        MODAL
    **********************/
	.modalMenu
		ul.language
			width 90%
			li
				&:nth-child(1)
					margin-right 1em
			



// Small devices (landscape phones, 415px and up)
@media (max-width: 415px)
	body
		font-size 11px	
				
	/**********************
        INDEX
    **********************/
	.header
		&-title
			figure
				width 7em
				
			.item
				h2
					font-size 2.3em
					line-height 30px
					
	.aboutHome
		figure
			width 250px
		.text
			width 100%
			
	.mainContain
		width 100%
		ul.stack
			width 90%
			margin-left auto
			margin-right auto
			li
				width 50px
		
	.footer
		&-item
			height 30px
			
	/**********************
        CONTACT
    **********************/
	.messageInit
		.title
			h2
				font-size 2em
			p
				font-size 1.1em
				
		form
			width 90%
			.itemForm
				label
					font-size 1.2em
				figure
					font-size 1.4em
					top .7em
					
	.messageEnd
		p
			font-size 1.1em
			
	.btn-main
		p
			font-size 1.1em
			
	/**********************
        ABOUT ME
    **********************/
	.aboutCopy
		.cpopyP
			p
				line-height 25px
				font-size 1.3em
