/*
	MEDIA QUERIES
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
@media (max-width: 1920px)
	/**********************
		INDEX
    **********************/
	.headerContact
		height 25em
		background-position center center
    	
@media (max-width: 1400px)
	/**********************
		INDEX
    **********************/

    		
@media (max-width: 1297px)
	/**********************
		INDEX
    **********************/
	.headerContact
		background-position center top
		background-size cover
		

	
	/**********************
        MODALES
    **********************/
    	
@media (max-width: 1136px)
	/**********************
		INDEX
    **********************/
				

// Large devices (desktops, 62em and up)
@media (max-width: 991px)
	/**********************
       INDEX
    **********************/
	.grid 
		width 90%

	
	/**********************
        ERROR 404
    **********************/


// Medium devices (tablets, 48em and up)
@media (max-width: 769px)
	/**********************
        LOGIN
    **********************/			
	body
		font-size 15px
	
		
	/**********************
    	HEADER
    **********************/
		
	
	/**********************
        ABOUT ME
    **********************/
	.gridAbout
		width 90%


@media (max-width: 630px)
	/**********************
    	HEADER
    **********************/	
	.header
		&-bgAboutDesktop
			background white
    	
	/**********************
    	INDEX
    **********************/			
	body
		font-size 15px

							
	/**********************
        CONTACT
    **********************/
	.messageInit
		width 90%
		padding 1em
		form
			width 90%
			



// Small devices (landscape phones, 415px and up)
@media (max-width: 415px)
	body
		font-size 11px	
				
	/**********************
        INDEX
    **********************/
	.header
		padding-top .8em
		.headerWhite
			h1
				width 4em
					
	.headerContact-message
		h3
			font-size 1.3em
					
			
	/**********************
        CONTACT
    **********************/
	.messageInit
				
		form
			width 90%
			.itemForm
				label
					font-size 1.2em
				figure
					font-size 1.4em
					top .7em
			
	.btn-main
		padding 1em 2em
		p
			font-size 1.1em
