/*
	VARIABLES
------------------------------------------
------------------------------------------*/
gris-claro = #F2F2F2
gris-texto = #4A4A4A
gris-texto2 = #C9CBD0
gris-bg = #FAFAFA


rojo-corporativo = #FF1744
verde-corporativo = #8BB339
amarillo-corp = #FFD000
azul-corporativo = #136FEA

linkedin = #0077b5
behance = #0057ff
twitter = #76a9ea
instagram = #C536A4