.container {
  width: 100%;
  overflow: hidden;
}

.title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.description {
  color: var(--gray-2);
  font-size: 16px;
  line-height: 1.81;
  font-weight: 300;
}

.pictureMobile {
  object-fit: contain;
  min-width: 320px;
  max-width: 100%;
}

.picture {
  display: none;
}

@media (min-width: 769px) {
  .pictureMobile {
    display: none;
  }

  .picture {
    display: inline;
    object-fit: contain;
    min-width: 320px;
    max-width: 100%;
  }
}
