.container {
  overflow: hidden;
  margin: 0 calc(var(--padding-mobile) * -1);
  padding-bottom: 5rem;
}

.tertiaryContainer {
  background-color: var(--tertiary);
}

.infoContainer {
  background-color: var(--blue-1);
}

.slideshowSlider {
  align-items: center;
  display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
  width: 100%;
  transition: ease 1000ms;
}

.slide {
  height: auto;
  width: 100%;
	flex-shrink: 0;
  padding: 5rem 1.5rem 0rem 1.5rem;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: var(--secondary);
}

.customers {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
}

.customerInfo {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

.customerName {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.customerPosition {
  font-size: 14px;
  letter-spacing: 0.06px;
}

.customerPicture {
  color: var(--black-2);
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.title {
  color: var(--black-2);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.07px;
  margin: 0;
  padding: 0 0 4rem 0;
  text-align: center;
  text-transform: uppercase;
}

.text {
  color: var(--black-2);
  font-size: 21px!important;
  line-height: 1.9;
}

@media (min-width: 769px) {
  .container {
    margin: 0 -2.3rem;
    padding-bottom: 8rem;
  }

  .slide {
    padding: 8rem 5rem 0rem 5rem;
  }

  .title {
    font-size: 20px;
  }

  .text {
    font-size: 23px!important;
    line-height: 1.74;
  }
}

@media (min-width: 1201px) {
  .container {
    margin: 0 calc(-2rem + -8%);
  }
}

