.container {
  min-height: 500px;
  width: 100%;
  padding: 0;
  margin-bottom: 5rem;
}

.picture {
  max-width: 100%;
}

.textContainer {
  color: white;
}

.title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.25;
  margin: 0;
}

.subtitle {
  color: var(--secondary);
  font-size: 18px;
  font-weight: 600;
  margin: 1.5rem 0 3rem 0;
}
