.container {
  color: white;
  margin: 5rem 0;
}

.title {
  font-size: 38px;
  font-weight: 600;
  line-height: 1.58;
  letter-spacing: 0.16px;
}

.title > span {
  color: var(--secondary);
}

.skills {
  display: block;
}

.skill {
  box-sizing: border-box;
  padding: 2rem 0;
}

@media (min-width: 481px) {
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .skill {
    width: 45%;
  }
}

@media (min-width: 1025px) {
  .skill {
    width: 31%;
  }
}
