.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.modal {
  width: 100%;
  height: 100%;
}

.overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 15;
}

.image {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: contain;
}

.imagesCounter {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 15px 20px;
  padding: 6px 12px;
  color: white;
  background-color: rgba(0, 0, 0, 0.72);
  border-radius: 4px;
  font-size: 14px;
}

.button {
  position: fixed;
  top: 50%;
  height: 90px;
  width: 90px;
  z-index: 14;
  opacity: 0.5;
  padding: 18px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.button img {
  width: 100%;
}

.button--left {
  left: 0;
  transform: rotate(180deg);
}

.button--right {
  right: 0;
}

.close {
  position: fixed;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  z-index: 14;
  cursor: pointer;
}

.close img {
  width: 100%;
}
