.dark3.container {
  background-color: #15151b;
}

.dark2.container {
  background-color: #212126;
}

.light.container {
  background-color: white;
}

.light .title {
  color: #091d33;
}

.light .title > span {
  color: #12d67d;
}

.light .description {
  color: #1d262c;
}

.light .comment {
  border-top: solid 1px #edf1fc;
}

.light .comment,
.light .person,
.light .personDescription {
  color: #1d262c;
}

.container {
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
}

.figure {
  max-width: 100%;
  overflow: hidden;
}

.picture {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 18px;
}

.title {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.17px;
  color: white;
  margin: 38px 0 0 0;
}

.title > span {
  color: var(--secondary);
}

.description {
  font-size: 21px;
  line-height: 1.8;
  color: var(--gray-1);
  font-weight: 300;
  margin-top: 29px;
}

.logo {
  grid-area: logo;
  margin-bottom: 10px;
  display: none;
}

.comment {
  grid-area: comment;
  margin-top: 22px;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.06;
  color: #fff;
  border-top: solid 1px rgba(255, 255, 255, 0.12);
}

.person {
  grid-area: person;
  width: fit-content;
  display: grid;
  color: #fff;
  margin-top: 29px;
  grid-column-gap: 15px;
  grid-template-areas:
    'personImage personName'
    'personImage personDescription';
}

.personImage {
  grid-area: personImage;
  width: 50px;
  border-radius: 50%;
}

.personName {
  grid-area: personName;
}

.personDescription {
  grid-area: personDescription;
  font-size: 14px;
  color: #b4c0ca;
}

.backgroundTop {
  position: absolute;
  top: -23px;
  left: 0;
  height: 74px;
  width: 100%;
  background-image: url('/images/projects/stadio/background-top.svg');
}

@media (min-width: 769px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hasCommente.defaultContainer {
    grid-template-areas:
      'image logo'
      'image title'
      'image description'
      'image comment'
      'image person';
  }
  .defaultContainer {
    grid-template-areas:
      'image title'
      'image description';
  }

  .hasCommente.reverseContainer {
    grid-template-areas:
      'logo image'
      'title image'
      'description image'
      'comment image'
      'person image';
  }

  .reverseContainer {
    grid-template-areas:
      'title image'
      'description image';
  }

  .figure {
    grid-area: image;
    max-width: 500px;
  }

  .defaultContainer .figure {
    margin-right: 3rem;
  }

  .reverseContainer .figure {
    margin-left: 3rem;
  }

  .title {
    grid-area: title;
    max-width: 469px;
    margin: 0;
    align-self: flex-end;
  }

  .description {
    grid-area: description;
    max-width: 469px;
    font-size: 25px;
  }

  .logo {
    display: block;
  }

  .comment {
    max-width: 469px;
  }
  .person {
    max-width: 469px;
  }
}

@media (min-width: 1201px) {
  .figure {
    max-width: 550px;
  }

  .defaultContainer .figure {
    margin-right: 4rem;
  }

  .reverseContainer .figure {
    margin-left: 4rem;
  }
}
