.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 20px 2rem 20px;
  position: relative;
}

.brand {
  align-items: center;
  color: white;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  justify-content: space-between;
  margin: 20px 0;
  width: 100%;
}

@media (min-width: 769px) {
  .container {
    margin: 0 2.3rem 2rem 2.3rem;
  }

  .container > ul {
    position: absolute;
    bottom: 25px;
  }
}