.container {
  color: var(--gray-1);
  margin: 3rem 0;
}

.title {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin: 1rem 0.8rem;
}

.logosContainer {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 1rem 0rem 1rem;
  justify-content: flex-start;
}

.logosContainer > div {
  box-sizing: border-box;
  width: 50%;
}

.logosContainer > div:nth-child(n+7) {
  display: none;
}

@media (min-width: 769px) {
  .container {
    margin: 0;
    padding-bottom: 5rem;
  }

  .logosContainer > div {
    width: 33%;
  }
}

@media (min-width: 1025px) {
  .logosContainer > div {
    width: 25%;
  }

  .logosContainer > div:nth-child(n+7) {
    display: flex;
  }
}
