.container {
  color: white;
  padding-bottom: 5rem;
}

.contactButton {
  width: 100%;
}

.title {
  font-size: 38px;
  font-weight: 600;
  line-height: 1.58;
  letter-spacing: 0.16px;
  margin: 0;
}

.title > span {
  color: var(--secondary);
}

.text {
  color: var(--gray-1);
  font-size: 18px;
  line-height: 2;
  margin-bottom: 3rem;
}

@media (min-width: 769px) {
  .container {
    align-items: center;
    display: flex;
  }

  .contactButton {
    max-width: 161px;
  }

  .description {
    max-width: 300px;
    margin-right: 3rem;
  }
}
