.light.container {
  background-color: white;
}

.light .title {
  color: #091d33;
}

.light .title > span {
  color: #12d67d;
}

.light .description {
  color: #1d262c;
}

.container {
  padding-top: 70px;
  padding-bottom: 70px;
}

.figure {
  max-width: 100%;
  overflow: hidden;
}

.picture {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.title {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.17px;
  color: white;
  margin: 38px 0 0 0;
}

.title > span {
  color: var(--secondary);
}

.description {
  font-size: 21px;
  line-height: 1.8;
  color: var(--gray-1);
  font-weight: 300;
  margin-top: 29px;
}

@media (min-width: 769px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .defaultContainer {
    grid-template-areas:
      'image title'
      'image description';
  }

  .reverseContainer {
    grid-template-areas:
      'title image'
      'description image';
  }

  .figure {
    grid-area: image;
    max-width: 500px;
  }

  .defaultContainer .figure {
    margin-right: 3rem;
  }

  .reverseContainer .figure {
    margin-left: 3rem;
  }

  .title {
    grid-area: title;
    max-width: 469px;
    margin: 0;
    align-self: flex-end;
  }

  .description {
    grid-area: description;
    max-width: 469px;
    font-size: 25px;
  }

  /* .reverseContainer .title,
  .reverseContainer .description {
    justify-self: end;
  } */
}

@media (min-width: 1201px) {
  .figure {
    max-width: 550px;
  }

  .defaultContainer .figure {
    margin-right: 4rem;
  }

  .reverseContainer .figure {
    margin-left: 4rem;
  }
}
