.figure {
  max-width: 100%;
  overflow: hidden;
}

.picture {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.title {
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 0.17px;
  color: white;
  margin: 38px 0 0 0;
}

.title > span {
  color: var(--secondary);
}

.description {
  font-size: 16px;
  line-height: 1.9;
  color: var(--gray-1);
  font-weight: 300;
  margin-top: 29px;
}

.stadioInfo {
  display: flex;
  align-items: center;
  margin-top: 55px;
}

.stadioLogo {
  width: 65px;
  height: 65px;
}

.yellowLine {
  width: 2px;
  height: 45px;
  background-color: var(--secondary);
  margin-left: 35px;
  margin-right: 8px;
}

.insightText {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.06px;
  color: white;
  margin-left: 5px;
}

.starIcon {
  width: 33px;
  height: 33px;
}

.infoLine {
  margin: 40px 0;
  height: 1px;
  border: solid 1px rgba(255, 255, 255, 0.12);
  max-width: 469px;
}

.companies {
  display: flex;
  align-items: center;
}

.logoList {
  display: flex;
}

.logoList > li {
  margin-left: -18px;
}

.logoList > li:first-child {
  margin-left: 0;
}

.companyLogo {
  width: 65px;
  height: 65px;
}

.companyText {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.07px;
  color: var(--gray-1);
  margin-left: 30px;
}

@media (min-width: 769px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "image title"
      "image description"
      "image stadio-info"
      "image line"
      "image stadio-companies";
  }

  .figure {
    align-self: flex-start;
    grid-area: image;
    margin-right: 3rem;
    max-width: 500px;
  }

  .title {
    grid-area: title;
    align-self: end;
    max-width: 469px;
    margin: 0;
  }

  .description {
    grid-area: description;
    max-width: 469px;
  }

  .stadioInfo {
    margin-top: 10px;
    grid-area: stadio-info;
  }

  .infoLine {
    grid-area: line;
    margin: 20px 0;
  }

  .companies {
    grid-area: stadio-companies;
  }
}

@media (min-width: 1201px) {
  .figure {
    margin-right: 4rem;
    max-width: 550px;
  }
}
