.dark3.container {
  background-color: #15151b;
}

.dark2.container {
  background-color: #212126;
}

.light.container {
  background: #fff;
}

.light .description {
  color: #1d262c;
}

.light .detailName {
  color: #1d262c;
}

.light .detailContent {
  color: #1d262c;
}

.light .line {
  display: none;
}

.container {
  background-color: transparent;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
}

.description {
  font-size: 18px;
  line-height: 2.17;
  letter-spacing: normal;
  color: var(--gray-1);
}

.description p:first-child {
  margin-bottom: 30px;
}

.figure {
  margin-top: 60px;
  max-width: 100%;
  overflow: hidden;
}

.picture {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 18px;
}

.details {
  display: flex;
  flex-wrap: wrap;
  margin-top: 58px;
}

.detail {
  display: flex;
  flex-direction: column;
  margin-bottom: 58px;
}

.detail:nth-child(odd) {
  flex-basis: 50%;
}

.detailName {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.08px;
  color: white;
  margin-bottom: 17px;
}

.detailContent {
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--gray-1);
  font-weight: 300;
}

.line {
  display: none;
}

@media (min-width: 769px) {
  .details {
    justify-content: space-between;
  }

  .detail,
  .detail:nth-child(odd) {
    flex-basis: 33%;
  }
}

@media (min-width: 1025px) {
  .hasLine.container {
    grid-row-gap: 0;
  }
  .light.container {
    grid-row-gap: 0;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'description image'
      'line image'
      'details image';
    grid-gap: 2rem;
  }

  .line {
    display: block;
    grid-area: line;
  }

  .figure {
    width: 100%;
    grid-area: image;
    margin-top: 0;
    align-self: flex-start;
    max-width: 450px;
    justify-self: end;
    position: sticky;
    top: 2rem;
  }

  .description {
    grid-area: description;
    line-height: 2.06;
  }

  .details {
    grid-area: details;
  }

  .detail,
  .detail:nth-child(odd) {
    flex-basis: 50%;
  }

  .description {
    margin-bottom: 58px;
  }

  .detailName {
    font-size: 16px;
  }
}

@media (min-width: 1501px) {
  .figure {
    max-width: 500px;
  }
}
