.container {
  background-color: transparent;
  margin-top: 60px;
}

.description {
  font-size: 18px;
  line-height: 2.17;
  letter-spacing: normal;
  color: var(--gray-1);
  font-weight: 300;
}

.figure {
  margin-top: 60px;
  max-width: 100%;
  overflow: hidden;
}

.picture {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.details {
  display: flex;
  flex-wrap: wrap;
  margin-top: 58px;
}

.detail {
  display: flex;
  flex-direction: column;
  margin-bottom: 58px;
}

.detail:nth-child(odd) {
  flex-basis: 50%;
}

.detailName {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.08px;
  color: white;
  margin-bottom: 17px;
}

.detailContent {
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--gray-1);
  font-weight: 300;
}

.line {
  display: none;
}

@media (min-width: 769px) {
  .details {
    justify-content: space-between;
  }

  .detail, .detail:nth-child(odd) {
    flex-basis: 33%;
  }
}

@media (min-width: 1025px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "description image"
    "line image"
    "details image";
    grid-gap: 2rem;
    margin-top: 120px;
  }

  .line {
    display: block;
    grid-area: line;
  }

  .figure {
    grid-area: image;
    margin-top: 0;
    align-self: flex-start;
    max-width: 450px;
    justify-self: end;
  }

  .description {
    grid-area: description;
  }

  .details {
    grid-area: details;
  }

  .detail, .detail:nth-child(odd) {
    flex-basis: 50%;
  }

  .description {
    margin-bottom: 58px;
  }
}

@media (min-width: 1501px) {
  .figure {
    max-width: 500px;
  }
}