.container {
  color: #051441;
  margin: 3rem 0 0;
  padding-top: 61px;
  padding-bottom: 47px;
  background-color: white;
}

.description {
  font-size: 18px;
  line-height: 2;
  padding: 0 0 3rem 0;
}

.projects {
  display: block;
}

.project {
  box-sizing: border-box;
  padding: 1.8rem 0;
}

.projectVisibility:nth-child(n + 4) {
  display: none;
}

.title {
  font-size: 38px;
  font-weight: 600;
  line-height: 1.58;
  letter-spacing: 0.16px;
  max-width: 400px;
}

.title > span {
  color: var(--secondary);
}

.allProjects {
  min-width: 218px;
  background-color: #030102;
  color: white;
}

.options {
  margin: 3rem 0;
  text-align: center;
  width: 100%;
}

@media (min-width: 769px) {
  .container {
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .title {
    font-size: 50px;
    line-height: normal;
    letter-spacing: 0.21px;
    max-width: 480px;
    margin-bottom: 1.5rem;
  }

  .description {
    max-width: 590px;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .project {
    width: 45%;
  }

  .projectVisibility:nth-child(n + 4) {
    display: block;
  }

  .projectVisibility:nth-child(n + 5) {
    display: none;
  }
}

@media (min-width: 1025px) {
  .projectVisibility:nth-child(n + 6) {
    display: block;
  }

  .project {
    width: 31%;
  }
}
