.heroContainer {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  overflow: hidden;
}

.heroContainer img {
  max-width: 80%;
}

.heroContainer figure {
  text-align: right;
  margin-right: calc(-1 * var(--padding-mobile));
}

.heroTitle {
  color: white;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.25;
  margin: 3.5rem 0 0 0;
}

.heroTitle > span {
  color: var(--secondary);
}

.heroSubtitle {
  color: var(--secondary);
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

.heroSubtitle:hover {
  text-decoration: underline;
  transition: .2s linear;
}

.heroDescription {
  color: var(--gray-1);
  font-size: 18px;
  line-height: 1.67;
  margin: 2rem 0;
}

.title {
  color: white;
  font-size: 48px;
  line-height: 1.25;
  font-weight: 600;
  margin: 0;
}

.title > span {
  color: var(--secondary);
}

.contactSendContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.message {
  color: var(--gray-1);
  line-height: 1.67;
  font-size: 18px;
  letter-spacing: -0.43px;
  margin-bottom: 2rem;
}

.goHome {
  width: 100%;
}

@media (min-width: 481px) {
  .goHome {
    width: inherit;
  }
}

@media (min-width: 769px) {
  .heroContainer {
    height: 80vh;
  }

  .heroContainer figure {
    margin-right: calc(-1 * var(--padding-tablet));
  }
}

@media (min-width: 1025px) {
  .heroContainer {
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: auto;
    padding-bottom: 3rem;
  }

  .heroContainer > div {
    flex-basis: 50%;
    max-width: 283px;
  }
}

@media (min-width: 1201px) {
  .heroContainer {
    padding-bottom: 5rem;
  }

  .heroContainer figure {
    margin-right: calc(-1 * var(--padding-large));
  }
}
