.container {
  padding: 5rem var(--padding-mobile) 0 var(--padding-mobile);
}

.heroContainer {
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: center;
}

.heroContainer img {
  max-width: 80%;
}

.heroContainer figure {
  text-align: right;
  margin: 2.8rem calc(var(--padding-mobile) * -1) 0 0;
}

.heroTitle {
  color: white;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.25;
  margin: 3.5rem 0 0 0;
}

.heroTitle > span {
  color: var(--secondary);
}

.heroSubtitle {
  color: var(--secondary);
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

.heroSubtitle:hover {
  text-decoration: underline;
  transition: .2s linear;
}

.heroDescription {
  color: var(--gray-1);
  font-size: 18px;
  line-height: 1.67;
  margin: 2rem 0;
}

@media (min-width: 769px) {
  .heroContainer {
    padding: 6rem var(--padding-tablet) 0 var(--padding-tablet);
  }

  .heroContainer figure {
    text-align: right;
    margin: 2.8rem calc(var(--padding-tablet) * -1) 0 0;
  }
}

@media (min-width: 1025px) {
  .heroContainer {
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: auto;
    padding: 7rem 3rem 3rem 3rem;
  }

  .heroContainer > div {
    flex-basis: 50%;
    max-width: 283px;
  }
}

@media (min-width: 1201px) {
  .heroContainer {
    padding: 8rem var(--padding-desktop) 5rem var(--padding-desktop);
  }

  .heroContainer figure {
    text-align: right;
    margin: 2.8rem calc(var(--padding-desktop) * -1 - 1rem) 0 0;
  }
}
