.container {
  padding: 5rem 1rem 0 1rem;
}

.verticalLine {
  border-right: solid 1px rgba(239, 242, 248, 0.21);
  box-sizing: border-box;
  height: 113px;
  width: 50%;
}

@media (min-width: 769px) {
  .container {
    padding: 6rem 2.3rem 0 2.3rem;
  }

  .verticalLine {
    display: none;
  }
}

@media (min-width: 1025px) {
  .container {
    padding: 8rem 2.3rem 0 2.3rem;
  }
}

@media (min-width: 1201px) {
  .container {
    padding: 8rem 8% 0 8%;
  }
}
