.container {
  padding: 0 1rem;
}

.verticalLine {
  border-right: solid 1px rgba(239, 242, 248, 0.21);
  box-sizing: border-box;
  height: 113px;
  width: 50%;
}

@media (min-width: 769px) {
  .container {
    padding: 0 2.3rem;
  }

  .verticalLine {
    display: none;
  }
}
