.main {
  padding-top: 5.6rem;
}

.bgBlack {
  background-color: var(--primary);
}

.bgBlack6 {
  background-color: var(--black-6);
}

@media (min-width: 769px) {
  .main {
    padding-top: 8rem;
  }
}

@media (min-width: 1025px) {
  .main {
    padding-top: 4rem;
  }
}
