.container {
  padding-top: 6rem;
  color: white;
}

.containerDesktop {
  display: none;
}

@media (min-width: 769px) {
  .container {
    padding-top: 2rem;
  }
}

@media (min-width: 1201px) {
  .containerMobile {
    display: none;
  }

  .containerDesktop {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 var(--padding-large);
  }

  .title {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.58;
    letter-spacing: 0.16px;
    max-width: 400px;
  }

  .title > span {
    color: var(--secondary);
  }

  .projectListContainer {
    width: 50%;
  }

  .projectPictureContainer {
    width: 45%;
    height: auto;
    max-height: 85vh;
    position: sticky;
    top: 1rem;
  }

  .projectPicture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .projectDetails {
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 2fr 0.2fr;
    border-bottom: solid 1px rgba(239, 242, 248, 0.21);
  }

  .projectsList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .projectText {
    font-family: Poppins;
    margin-bottom: 41px;
    margin-top: 45px;
  }

  .projectName {
    font-size: 18px;
    font-weight: 500;
    margin-right: 1.2rem;
    width: 175px;
  }

  .projectSelected > span {
    border-bottom: solid 1px var(--secondary);
    transition: 0.2s linear;
  }

  .projectDescription {
    font-size: 16px;
    font-weight: normal;
    color: #b4c0ca;
    max-width: 300px;
  }

  .arrowIcon {
    justify-self: end;
    transition: 0.2s linear;
  }

  .iconContainer {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1501px) {
  .containerDesktop {
    padding: 0 var(--padding-extralarge);
  }
}
