.backgroundRTC {
  font-weight: 300;
  color: var(--black-2);
  background-color: var(--gray-8);
}

.hero {
  display: block;
  background-image: linear-gradient(to bottom, #edf1fc 33%, #fff);
  padding-bottom: 4rem;
}

.rtcVideoMobile {
  display: block;
}

.rtcVideoDesktop {
  display: none;
}

.backgroundGradient {
  background-image: linear-gradient(to bottom, #edf1fc 33%, #fff);
}

.description {
  background-color: var(--gray-8);
  padding: 3rem 1.5rem;
}

.funelSection,
.resultsSection {
  padding: 5rem 0 4rem 0;
  background-color: white;
}

.resultsSection .sectionTitle {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.marketSection,
.beforeStartingSection {
  display: block;
  padding: 6rem 0 0 0;
}

.bicolorTitle {
  font-size: 35px;
  font-weight: bold;
}

.sectionTitle {
  font-size: 35px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.15px;
  margin: 0;
}

.description p {
  font-size: 18px;
  line-height: 2;
}

.main {
  padding-top: 5.6rem;
}

.testimonialSection,
.challengeSection,
.letsGoWork,
.letsStartSection {
  font-size: 18px;
  line-height: 1.83;
  letter-spacing: normal;
  background-color: white;
}

.challengeSection {
  padding-bottom: 5rem;
}

.challengeAndTestimonials {
  background-color: white;
  display: block;
  padding: 4rem 1.5rem 6rem 1.5rem;
}

.testimonialSection p {
  font-size: 20px;
  font-weight: 400;
  line-height: 2.1;
  letter-spacing: normal;
  margin-bottom: 2rem;
}

.normalParagraph {
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
}

.projectInfo {
  background-color: var(--gray-8);
  padding: 3rem 1.5rem;
  display: grid;
  grid-template-columns: 50% 50%;
}

.projectInfo article {
  margin-bottom: 3rem;
}

.projectInfo article:last-child {
  grid-column-end: span 2;
}

.projectInfo article strong,
.projectInfo article span {
  display: block;
  padding: 0.5rem;
}

.moreProjectsSection {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  align-items: center;
  padding: 1rem 1.5rem 4.5rem 1.5rem;
}

.title {
  font-size: 48px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #091d33;
  margin: 0;
  padding: 2rem 1.5rem;
}

.videoImage {
  object-fit: contain;
  min-width: 320px;
  max-width: 100%;
}

.horizontalLine {
  border-bottom: solid 1px var(--gray-7);
  box-sizing: border-box;
  height: 1px;
  width: 100%;
}

.verticalLine {
  border-right: solid 1px var(--gray-7);
  box-sizing: border-box;
  height: 113px;
  width: 50%;
}

.sectionSubtitle {
  font-weight: 600;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
}

.takeInAccount > li,
.marketPoints > li {
  margin-bottom: 2.5rem;
  display: flex;
  align-items: flex-start;
}

.takeInAccount > li > img,
.marketPoints > li > img {
  margin-top: 5px;
  margin-right: 10px;
}

.features {
  display: grid;
  grid-template-columns: 50% 50%;
}

.feature {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  max-width: 120px;
  margin-bottom: 3rem;
  justify-self: center;
  align-self: baseline;
}

.feature img {
  height: 77px;
  width: 77px;
  margin-bottom: 1rem;
}

.feature div {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.07px;
  text-align: center;
}

.marketSectionImage {
 display: block;
}

.primaryBackground {
  background-color: var(--primary);
}

.project {
  margin-bottom: 4rem;
}

.rtcLogo,
.rtcSummary,
.beforeDesktopGallery,
.letsGoWork,
.resultsInfo figure,
.banks,
.designSystem,
.marketLandingImage,
.marketMobileImage,
.marketAppFirst,
.marketAppSecond {
  display: none;
}

.beforeMobileGallery,
.marketInfo figure,
.letsStartSection,
.projectsSection {
  display: block;
}

.marketInfo {
  overflow-x: hidden;
}

.marketInfo figure {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  max-height: 750px;
}

.showAllPicturesButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: var(--black-2);
  position: absolute;
  box-shadow: 0 2px 24px 0 var(--gray-9);
  font-size: 16px;
  bottom: 20px;
  right: 50px;
  width: 230px;
  height: 45px;
}

.letsGoWork p {
  padding: 1rem 1.5rem;
}

@media (min-width: 769px) {
  .features {
    grid-template-columns: 33% 33% 33%;
  }

  .funelSection {
    padding: 0rem var(--padding-tablet) 4rem var(--padding-tablet);
  }

  .resultsSection .sectionTitle,
  .resultsSection .normalParagraph,
  .marketSection .sectionTitle,
  .marketSection .normalParagraph,
  .beforeStartingSection .sectionTitle,
  .beforeStartingSection .normalParagraph,
  .moreProjectsSection,
  .marketPoints {
    padding-right: var(--padding-tablet);
    padding-left: var(--padding-tablet);
  }

  .projectInfo {
    padding: 3rem var(--padding-tablet);
  }

  .description {
    padding: 5.5rem var(--padding-tablet) 3rem;
  }
  
  .challengeAndTestimonials {
    padding: 4rem var(--padding-tablet) 6rem var(--padding-tablet);
  }

  .projectsSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .project {
    width: 45%;
  }

  .hero {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title video"
        "vertical-line video";
  }

  .hero .title {
    grid-area: title;
    padding: 2rem var(--padding-tablet);
  }

  .hero figure {
    grid-area: video;

  }

  .hero .verticalLine {
    grid-area: vertical-line;
    width: var(--padding-tablet);
  }

  .letsGoWork p {
    padding: 1rem var(--padding-tablet);
  }
}

@media (min-width: 1025px) {
  .rtcVideoMobile {
    display: none;
  }

  .rtcVideoDesktop {
    display: block;
  }

  .project {
    width: 31%;
  }

  .rtcLogo {
    display: inline-block;
    height: 50px;
    width: auto;
    padding: 0 var(--padding-tablet);
  }

  .rtcSummary {
    display: block;
    padding: 0.4rem var(--padding-tablet) 0 var(--padding-tablet);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.07px;
    color: var(--secondary);
    text-transform: uppercase;
  }
  
  .description {
    display: flex;
  }

  .description > .bicolorTitle {
    flex-basis: 100%;
  }

  .description p {
    margin-top: 0;
  }

  .projectInfo {
    grid-template-columns: repeat(5, 1fr);
  }

  .projectInfo article:last-child {
    grid-column-end: span 4;
  }

  .challengeAndTestimonials {
    display: flex;
    align-items: center;
    padding: 4rem var(--padding-tablet) 0 var(--padding-tablet);
    justify-content: space-between;
  }

  .testimonialSection,
  .challengeSection {
    font-size: 16px;
  }

  .challengeSection {
    flex-shrink: 0;
    flex-basis: 50%;
    max-width: 450px;
  }

  .testimonialSection {
    max-width: 450px;
  }

  .beforeMobileGallery,
  .marketInfo figure,
  .marketSectionImage {
    display: none;
  }

  .beforeDesktopGallery {
    position: relative;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "main-img main-img second-img third-img"
        "main-img main-img four-img five-img";
    padding-left: calc(var(--padding-tablet) - 0.3rem);
    padding-right: calc(var(--padding-tablet) - 0.3rem);
  }

  .beforeDesktopGallery > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 0.3rem;
  }

  .beforeDesktopGallery > .one {
    grid-area: main-img;
  }

  .beforeDesktopGallery > .two {
    grid-area: second-img;
  }

  .beforeDesktopGallery > .three {
    grid-area: third-img;
  }

  .beforeDesktopGallery > .four {
    grid-area: four-img;
    align-self: end;
  }

  .beforeDesktopGallery > .five {
    grid-area: five-img;
    align-self: end;
  }

  .beforeStartingSection .sectionTitle {
    padding-left: var(--padding-tablet);
    padding-right: var(--padding-tablet);
    padding-bottom: 0;
  }

  .beforeStartingSection .normalParagraph {
    width: 593px;
    margin: 0;
    padding: 1rem var(--padding-tablet) 3rem var(--padding-tablet);
  }

  .beforeDesktopGallery {
    padding-bottom: 7rem;
  }

  .letsGoWork,
  .letsStartSection,
  .resultsInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 7rem;
  }

  .letsGoWork > div,
  .letsStartSection > div,
  .resultsInfo > div {
    width: calc(100% - 540px);
  }

  .letsGoWork p,
  .letsStartSection p,
  .resultsInfo p {
    max-width: 535px;
  }

  .letsGoWork figure,
  .letsStartSection figure,
  .resultsInfo figure {
    display: inline-block;
    padding-right: var(--padding-tablet);
    text-align: center;
  }

  .letsGoWork figcaption {
    margin-top: 22px;
    font-size: 14px;
  }

  .letsGoWork .videoImage,
  .letsStartSection .videoImage,
  .resultsInfo .videoImage {
    width: 320px;
    height: auto;
  }

  .letsStartSection {
    display: flex;
    flex-direction: row-reverse;
  }

  .funelSection > .bicolorTitle {
    text-align: left;
  }

  .features {
    display: flex;
    justify-content: space-between;
  }

  .banks,
  .designSystem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem var(--padding-tablet) 0 var(--padding-tablet);
  }

  .banksLogos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }

  .marketSection,
  .beforeStartingSection {
    padding: 6rem 0 0 0;
  }

  .marketSection {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas:
        "description description description landing landing"
        "mobileApp appFirst appFirst landing landing"
        "mobileApp appSecond appSecond landing landing";
    padding-left: calc(var(--padding-tablet) - 0.3rem);
    padding-right: calc(var(--padding-tablet) - 0.3rem);
  }

  .marketSection .sectionTitle,
  .marketSection .marketPoints {
    padding-left: 0;
    padding-right: 0;
  }
  

  .marketMobileImage > img {
    object-fit: contain;
    max-width: 100%;
    height: 100%;
  }

  .marketAppFirst > img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
  }

  .marketAppFirst {
    grid-area: appFirst;
    display: block;
  }

  .marketAppSecond {
    grid-area: appSecond;
    display: block;
  }

  .marketMobileImage {
    grid-area: mobileApp;
    align-self: start;
    display: block;
  }

  .marketInfo {
    grid-area: description;
    max-width: 400px;
  }

  .marketLandingImage {
    grid-area: landing;
    display: block;
  }
}

@media (min-width: 1201px) {
  .rtcLogo,
  .rtcSummary,
  .hero .title {
    padding-left: var(--padding-large);
    padding-right: var(--padding-large);
  }

  .hero .rtcVideoDesktop {
    padding-right: var(--padding-large);
  }

  .hero .verticalLine {
    width: var(--padding-large);
  }

  .projectInfo {
    padding: 3rem var(--padding-large);
  }

  .description {
    padding: 5.5rem var(--padding-large) 3rem;
  }

  .challengeSection {
    max-width: 600px;
  }

  .challengeAndTestimonials {
    padding: 6rem var(--padding-large) 7rem var(--padding-large);
  }

  .takeInAccount > li,
  .marketPoints > li {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: flex-start;
  }

  .resultsSection .sectionTitle,
  .resultsSection .normalParagraph,
  .marketSection .sectionTitle,
  .marketSection .normalParagraph,
  .beforeStartingSection .sectionTitle,
  .beforeStartingSection .normalParagraph,
  .moreProjectsSection,
  .marketPoints,
  .beforeStartingSection .sectionTitle,
  .beforeStartingSection .normalParagraph {
    padding-right: var(--padding-large);
    padding-left: var(--padding-large);
  }

  .letsGoWork figure,
  .letsStartSection figure,
  .resultsInfo figure {
    padding-right: var(--padding-large);
  }

  .letsGoWork figure,
  .letsStartSection figure {
    width: 500px;
  }

  .letsGoWork .videoImage,
  .letsStartSection .videoImage {
    width: 100%;
  }

  .beforeDesktopGallery {
    padding-right: calc(var(--padding-large) - 0.3rem);;
    padding-left: calc(var(--padding-large) - 0.3rem);;
  }

  .letsGoWork p {
    padding: 1rem var(--padding-large);
  }
}