.container {
  background-image: linear-gradient(to bottom, #edf1fc 33%, #ffffff);
}

.description {
  background-color: #edf1fc;
  margin-top: 2.5rem;
  padding: 2rem 1.5rem;
}

.descriptionTitle {
  font-size: 35px;
  font-weight: bold;
  color: var(--black-2);
}

.description p {
  font-size: 18px;
  line-height: 2;
  color: var(--black-2);
}

.main {
  padding-top: 5.6rem;
}

.title {
  font-size: 48px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #091d33;
  margin: 0;
  padding: 2rem 1.5rem;
}

.videoImage {
  object-fit: contain;
  min-width: 320px;
  max-width: 100%;
}

.horizontalLine {
  border-bottom: solid 1px var(--gray-7);
  box-sizing: border-box;
  height: 1px;
  width: 100%;
}

.verticalLine {
  border-right: solid 1px var(--gray-7);
  box-sizing: border-box;
  height: 113px;
  width: 50%;
}